<nav class="navbar navbar-expand-md navbar-dark" id="main_color">
            <a class="navbar-brand" href="index.html"><img id="logo_main" src="images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movie</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/comingsoon">Coming Soon</a>
                        <a class="dropdown-item" href="/nowshowing">Now Showing</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/offer">Offers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/nowshowing">Buy Ticket</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {{#if isLogin}}
                    <li class="nav-item">
                        <a class="nav-link">{{username}}</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" href="/viewticket">View Your Ticket</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#modelId">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#modelId1">Login</a>
                    </li>
                    {{/if}}
                    
                    
                    
                    
                </ul>

                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>